*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
/*start Header*/
header{
    height: 100vh;
    background-image: radial-gradient(rgb(230, 222, 222), #93B7BE);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
 ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
.navbar ul li {
display: inline-block;
margin-right:20px;

}
.navbar .bag{
    width: 25px;
    height: 25px;   
}
.navbar .baga{
margin-left: -12px;
}
.main-content{
    margin: 0;
    padding: 0;
    position: absolute;
    /* left: 50%; */
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content1 h1{
    font-size: 60px;
    margin-bottom: 5px;
}
.main-content1 p{
    font-size: 20px;
    margin-bottom: 5px;
}
.main-content1 a{
    display: inline-block;
    background-color: #d89c94;
    color: #ddd;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.main-content1 a:hover{
    background-color:#747578 ;
}

.main-content1 i{
    padding-left: 7px;
    padding-top: 3px;
    font-size: 13px;
}
.main-content1 img{
    width: 400px;
    height: 400px;
    margin-left: 200px;
}
/* end header  */

/* start general-product */
.general-product .general-product-content{
    display: flex;
    justify-content: space-between; 
    margin-top: 100px; 
    align-items: center;
}
.general-product .general-product-content img{
    width:300px;
    height:300px   
}
/* end general-product */
/* start featured-product */
.small-container{
    width: 70%;
    margin: auto;
}
.featured-product{
    margin-top: 100px;
}
.featured-product .section-header{
    margin-bottom: 85px;
    text-align: center;
}
.featured-product .section-header h1::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 121px;
    left: 50%;
    bottom: -560px;
    background-color: #CB958E;
    transform: translateX(-50%);
    
}

.featured-product .section-header h1::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #CB958E;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -570px;
    background-color: white;


}

.featured-product-content,.featured-product .featured-product-content .row{
    display: flex;
    justify-content: space-between;
}
.featured-product .featured-product-content img{
width:220px;
height:300px
}
.featured-product .featured-product-content .content h4,
.featured-product .featured-product-content .content p{
    color: #555;
}
.featured-product .featured-product-content .content{
transition: 0.5s;


}
.featured-product .featured-product-content .content:hover{
transform: translateY(-5px);
cursor: pointer;
}
.featured-product .featured-product-content i{
    color: #CB958E;
    margin: 5px 0;
}
/* end featured-product */


/* <!-- start lastest product --> */
.lastest{
    display: flex;
    flex-direction: column;  
  }
  .lastest ,.r-2{
    margin-top: 50px;
  }
  .lastest-product .section-header h1::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 121px;
    left: 50%;
    bottom: -1179px;
    background-color: #CB958E;
    transform: translateX(-50%);
    
}

.lastest-product .section-header h1::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid #CB958E;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1188px;
    background-color: white;


}
/* <!-- end lastest product --> */



/* <!-- start smart band --> */
.smart-band {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    background-image: radial-gradient(rgb(230, 222, 222), #93B7BE);
padding: 100px 100px;
}
.smart-band img{
    width: 300px;
    height: 300px;
}
.smart-band .smart-band-txt h1{
    margin: 10px 0;
}
.smart-band .smart-band-txt a{
    display: inline-block;
    background-color: #d89c94;
    color: #ddd;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.smart-band .smart-band-txt  a:hover{
    background-color:#747578 ;
}
.smart-band .smart-band-txt  i{
    padding-left: 7px;
    padding-top: 3px;
    font-size: 13px;
}
/* <!-- end smart band --> */



/* <!-- start users --> */

.person{
    margin-top: 100px;
}
.person .person-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.person .person-content .person1{
    width: 300px;
    border: 6px solid rgba(240, 240, 240, 0.801);
    padding: 30px 10px;
    transition: 0.5s;
}
.person .person-content .person1:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.person .person-content .person1 p{
    font-size: 13px;
    margin-bottom: 9px;
}

.person .person-content .person1 img{
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.person .person-content .person1 i{
    color: #CB958E;  
    margin-bottom: 20px;
}
.person .person-content .person1 h2{
    color: #555;
}
.person .person-content .person1 .coln{
    font-size: 30px;
    margin-bottom: 9px;
    color: #CB958E;
}

/* <!-- end  users --> */

/* <!-- start brands --> */
.brands {
    margin-top: 100px;
}
.brands .brands-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20px; */
    /* text-align: center; */
}
.brands .brands-content img{
    cursor: pointer;
    filter: grayscale(100%);
    transition: 0.5s;
}
.brands .brands-content img:hover{
    filter: grayscale(0);
    transform: translateY(-5px);
}
/* <!-- end brands --> */
.footer{
    background-color: #68696b;
    color: #ddd;
    margin-top: 100px;
    padding: 60px 50px;
}
.footer-content{

    display: flex;
    
    justify-content: space-between;
    align-items: start;
}
.footer-content .part2,.footer .part1{
   width: 300px;
}
.footer-content  p{
margin: 19px 0;
color: rgb(248, 241, 228);
}
.footer-content .part1 img{
    width: 100px;
}
.footer-content .part2 img{
    width: 200px;
    margin-bottom: 18px;
}
.footer-content .part3 li ,.footer-content .part4 li{
margin: 10px 0;
}
/* <!-- start footer  --> */


/* <!-- end footer  --> */